[2018-06-09 06:53] blissi opened #1 "How to call static methods?"
Hallo,

I defined a static method on my Typegoose model and then tried to use the model within a service.
The TypeScript compiler issues an error, though:

How can I solve this?
Here's my code:

[code]

Thanks!

[2018-06-09 16:39] kpfromer commented on #1
Quick fix for this issue is to add `& typeof DBShipping` to the constructor. It would make the constructor look like this:

[code]

I will try to find a more elegant approach to this issue though as it might get annoying for users to type `& typeof` everytime they want to use static methods. But I have a feeling that it can't be "fixed." I think thats why [typegoose disscusses why the union is nee

[2018-06-10 08:05] blissi commented on #1
Thanks for the suggestion, it is working fine!

[2018-06-10 12:21] #1 closed

[2018-07-30 02:58] recRent opened #2 "Alternate name for the collection"
Is there a way to pass it an alternate name for the collection.  Mongoose provides the schemaOptions, where you can define an object for an alternate name, which looks like:  { collection: 'category'}.  See below.  How would you give the collection a different name in your implementation?

export const CategorySchema = new Schema({
  name: { type: String, required: true, unique: true },
}, { colle

[2018-08-07 01:35] #2 closed

[2018-08-07 02:13] kpfromer commented on #2
Sorry for replying so late, but I just published a new version (5.0.1) that should allow you to add [mongoose schema options for your model](https://github.com/kpfromer/nestjs-typegoose#mongoose-schema-options). If there are any further issues, please let me know!

[2018-08-07 06:02] recRent commented on #2
FYI.  Looks like one of your tests might be failing.  There is a snapshot folder in the src, which has the error.

[2018-08-07 06:51] kpfromer commented on #2
I think that snapshot is testing for an error message.

[2018-08-08 08:36] fairydhwen opened #4 "Documentation / Dependencies"
Thx for this module, it's realy nice.

Just some questions about the documentation in the section "Cats Service" :

It seems like you use Cat Interface and not Cat Model, is it normal ?
Also we can see a reference to Cats Schema.

In the requierement, you dont list @nestjs/mongoose that you use for the @InjectModel. We dont need to install it ? **[EDIT] => looks like you added "InjectModel" direct

[2018-08-08 09:17] fairydhwen commented on #4
BTW what about using something like that for the Cats Service ?

`import {Injectable} from '@nestjs/common';
import {Cat} from './cat.model';

export class CatsService{

    async create(catName: string): Promise<Cat> {
        const catModel = new Cat().getModelForClass(Cat);
        const createdCat = new catModel({name: catName});
        await createdCat.save();
        return await catModel.f

[2018-08-08 18:40] kpfromer commented on #4
Thanks for bringing these issues up! Firstly, I made a typo with the Cat interface and your right; it should be using the Cat model instead. The reason for `InjectModel ` is to prevent repetition of writing `const catModel = new Cat().getModelForClass(Cat)` everytime you use a model in a service. You could of course manually use `getModelForClass` if you wanted.
I will try to get these changes up

[2018-08-08 21:45] #4 closed

[2018-08-10 07:43] fairydhwen opened #6 "ModelType"
1) I noticed that i can't get "intellisense" with the injected ModelType<Class> (i.e save() etc.)
When i use typegoose classes directly it works, like u can see on this capture (create method):
![image](https://user-images.githubusercontent.com/3448583/43944954-07ec68be-9c81-11e8-9df1-262c3f505ae7.png)
2) I also added @types/mongoose -dev and after that, i got many errors (cf. same capture).
`The

[2018-08-11 19:50] kpfromer commented on #6
Could you post the typescript type error? Also, aren't you forgetting the `new` keyword in `this.playerModel(createPlayerDto).save`.

[2018-08-13 07:50] fairydhwen commented on #6
Oh it's my bad, don't know why i thought the injected class was intanciated. So all is OK sorry ^_^

[2018-08-13 07:50] #6 closed

[2018-09-11 11:22] khashayar opened #7 "Async configuration"
The mongoose module for nest/js (`@nestjs/mongoose`) recently introduced the support for async configuration with `MongooseModule.forRootAsync()` method.

https://docs.nestjs.com/techniques/mongodb

Is there any plan here to support the same functionality soon?

[2018-09-17 05:25] seekcx opened #8 "Can't resolve dependencies error"
Hi, I am using this module for the first time. It looks great, but my reference documentation didn't work properly after it was written.

**app.module.ts**

[code]

**profile.model.ts**

[code]

**profile.module.ts**

[code]

**profile.service.ts**

[code]

After executing the `npm start` command, an error was thrown:
[code]

[2018-09-17 16:38] seekcx commented on #8
it works! 🎉

[2018-09-17 16:38] #8 closed

[2018-09-28 10:37] khashayar commented on #7
Any updates on this?

[2018-11-12 14:59] FSM1 commented on #7
would also like to know if any progress has been made on this

[2018-11-26 17:11] kpfromer commented on #7
Sorry for responding so late. I have been busy with school for the past few months.
I am currently working on it though. Hopefully, I will get it done in the next two weeks.

[2018-11-27 10:32] FSM1 commented on #7
@kpfromer more than happy to assist with this as well

[2018-11-30 17:44] #7 closed

[2018-12-06 06:00] isman-usoh opened #11 "error TS2307: Cannot find module 'typegoose-options.interface'."
$ rm -rf dist && tsc
node_modules/nestjs-typegoose/dist/typegoose.module.d.ts:6:45 - error TS2307: Cannot find module 'typegoose-options.interface'.

6 import { TypegooseModuleAsyncOptions } from 'typegoose-options.interface';
[code]

[2018-12-06 15:33] kpfromer commented on #11
I just pushed a new patch which should fix this issue.
Thanks!

[2018-12-08 09:47] DavidTheProgrammer opened #12 "Documentation for Async Configuration Connection Options"
I hope this is a good issue, I'm sorry if it is not. I'm struggling to configure the connection options while using the `useFactory` async configuration option. I have tried adding a connection object after returning the uri as shown below
[code]
The connectionOptions looks like this:

[code]
However even after all this I get the `ensureIndex` and `URL string parser` deprecation warnings. Any assi

[2018-12-10 20:37] kpfromer commented on #12
I will add some documentation on the async connection options shortly. Thanks for the bringing this up.

[2018-12-12 16:38] #12 closed

[2018-12-20 16:09] mrkwrbgor opened #13 "Support multiple db connections"
Because of the hardcoded value

 in:

[code]

 We cannot have a few database connections. In the project I'm working on the architecture is that we have a db per nest module, so we have a few modules with different DBs.

As a quick fix I created my own methods forRoot and forFeature that use the passed connectionName.

Take a look at this:

[code]

And now we can declare a new nest module and pass

[2018-12-22 15:33] kpfromer commented on #13
Thanks for bringing this up! I will try to get this incorporated in the next week.

[2019-01-14 09:15] mrkwrbgor commented on #13
Hey @kpfromer do you think you will be able to work on this sometime in January?

[2019-04-10 12:28] MilosStanic opened #14 "Error: Invalid model object"
For the life of me, I can't make this work.

I'm getting an error:
[code]

My model is :
[code]

The error occurs in my feature module `user.module` at `typegoose.providers.js` where my model fails the check of `IsClass`.
As you see the class is elementary and properly extends `Typegoose` class.

I even tried modifying the `typegoose.providers.js` to console.log the class that is analyzed, and the

[2019-04-13 19:01] MilosStanic commented on #14
I figured it out.
In the `tsconfig.json`, i.e. `tsconfig.app.json` you have to set `target` property to `es6` in the `CompilerOptions`.
Mine was set to `es5`

[2019-04-13 19:01] #14 closed

[2019-04-24 23:28] CheerlessCloud opened #15 "Module doesn't close connection to db after module destroy"
Due to the lack of an explicit connection closure, it is necessary to add --forceExit to jest. Yes, of course it can be solved by manual get connection by token and call close method, but why not implement it as in @nest/mongoose?
https://github.com/nestjs/mongoose/blob/master/lib/mongoose-core.module.ts#L113

[2019-04-25 18:46] kpfromer commented on #15
I think that will work to mimic @nest/mongoose implementation of disconnecting the connection. Do you have a fork that you are working on?

[2019-05-27 03:18] ManuRodgers opened #16 "how to add @exclude() of class-transformer into this library for Serialization purpose!"

[2019-05-28 11:09] ManuRodgers opened #17 "How to set timestamp in this library"
`export const UserModel = new User().getModelForClass(User, { schemaOptions: { timestamps: true } });` this is how to add timestamps in typegoose, but I cannot find the solution in terms of how to add timestamps in this library. so can you guys give me some advice?

[2019-05-29 02:32] #17 closed

[2019-05-30 18:28] duro commented on #15
@CheerlessCloud @kpfromer Any chance we could get this fork PR'd and merged? This is a big pain for testing.

[2019-05-31 02:33] kpfromer commented on #15
@duro Yeah. I am planning on getting all the issues fixed in the next week.

[2019-05-31 18:21] duro commented on #15
@kpfromer Great.

For anyone else, until then, a workaround is to add this to your app module:

[code]

[2019-06-01 07:11] CheerlessCloud commented on #15
Sorry for waiting, I had a lot of work this month. I have just created PR for fix this issue #18.

[2019-06-02 00:24] #15 closed

[2019-06-02 00:25] kpfromer commented on #16
Could you provide more context for this issue?

[2019-06-06 23:09] #13 closed

[2019-06-07 00:17] kpfromer commented on #13
It was added with version `5.2.0`.

[2019-06-07 01:01] duro opened #22 "v5.2.0 Cannot find module 'nestjs-typegoose'"
My CI build is erroring with `Cannot find module 'nestjs-typegoose'`.

I SSH'd into the container doing the build, and when I run `ls -lah` inside the `node_modules/nestjs-typegoose` folder I get this:

[code]

It would appear there is no `dist/index.js`. Did something go wrong in the package and push to NPM?

[2019-06-07 01:03] ManuRodgers commented on #16
![image](https://user-images.githubusercontent.com/33333844/59075434-cd1b1980-8913-11e9-94d7-0f542b7cfd0c.png)

Hello mate, something like above for Serialization purpose

[2019-06-07 03:40] kpfromer commented on #22
I think something went wrong with the continuous integration system. I am going to build manually and push the new version.

[2019-06-07 03:44] kpfromer commented on #22
There should be a new version up (`5.2.1`). I will definitely be going through and fixing Travis ci. Thanks for bringing this up.

[2019-06-07 03:44] #22 closed

[2019-06-07 18:13] duro opened #23 "v5.2.1 issues with forFeature"
Was this an expected breaking change? With v5.2.1 I am now getting the following build error:

[code]

Nothing in the code on my end has changed.

User extends from Typegoose. I am running version 5.7.1 of Typegoose.

[2019-06-08 02:19] kpfromer commented on #23
I changed the way forFeature works. It is now an array of models instead of the older spread because I needed a way to pass in the `connectionName`. So instead of having `TypegooseModule.forFeature(User)` it would be `TypegooseModule.forFeature([User])`
I have also created a [changelog](https://github.com/kpfromer/nestjs-typegoose/blob/master/CHANGELOG.md).

[2019-06-13 16:25] krouw commented on #23
if there was a change that breaks the current operation of the library, you should increase to version 6. Recently installed the new version and I had to change all the modules of my project without understanding that there was a change of break.

[2019-06-13 17:44] krouw opened #25 "v5.2 Not Working with Nest TestModule"
Hi!
When updating to the new version I tried to run my tests and I realized that the library lost its compatibility with Nest TestModule.
I have created a repository where it is possible to recreate the error, when I launch the app with start: dev there are no problems, but when I run the tests, the models are not injected correctly in the service and it displays the following error:

![](https://

[2019-06-23 15:55] emjimadhu opened #26 "Typescript Error at `pre` hook?"
I have i am trying to implement `pre` hook. The following code works fine, but it is giving me TS lint error `potantially invalid reference access to a class field via this. of a nested function`.

[code]

But the above code working though. It updates my updatedaAt field.

I am not sure this is related to this library or typegoose itself. But any help would be appriciated!

Thanks.

[2019-06-25 09:07] huazai128 commented on #26
import * as mongooseAutoIncrement from 'mongoose-auto-increment'
@plugin(mongooseAutoIncrement.plugin, {
    model: Test.name,
    field: 'id',
    startAt: 1,
    incrementBy: 1,
})

When saving, this plugin causes the request to continue, neither error nor output

[2019-06-25 09:10] huazai128 opened #27 "No way to save using mongoose-auto-increment"
import * as mongooseAutoIncrement from 'mongoose-auto-increment'
import { prop, arrayProp, plugin, pre, Typegoose, index } from 'typegoose'

@plugin(mongooseAutoIncrement.plugin, {
  model: Test.name,
  field: 'id',
  startAt: 1,
  incrementBy: 1,
})
export class Test extends Typegoose {
   @IsString()
   @prop({ required: true })
   name: string
}

When saving, this plugin causes the request to c

[2019-06-27 15:10] emjimadhu commented on #16
@kpfromer I am having the same question! Is it possible?

[2019-06-27 16:33] kpfromer commented on #25
Thanks for doing this. I will look into soon.

[2019-07-12 01:40] kpfromer commented on #25
I didn't really didn't explain how to unit test with nestjs-typegoose, so sorry about that. Like [@nestjs/mongoose](https://docs.nestjs.com/v5/techniques/mongodb) (see the testing section) nestjs-typegoose's `forFeature` and `forRoot` rely on a database connection to work. In order to unit test your `ProductService` without connecting to a mongo database you need to create a fake model using a [cu

[2019-07-12 01:41] #23 closed

[2019-07-12 01:52] kpfromer commented on #26
Strange, I am not getting the same typescript linting message. Could you create an example repo for me to test?

[2019-07-12 02:08] kpfromer commented on #27
What do you mean it doesn't error or output, what should be expected? Does the id not increment?

Also, if you could provide an example repo for me to test the issue that would be great?

[2019-07-13 00:41] george-freebirdrides commented on #17
In the event this helps someone else:

`    TypegooseModule.forFeature(
      { typegooseClass:MyTypegooseClass, schemaOptions: { timestamps: true } })
`

[2019-07-20 13:08] gimyboya opened #28 "'useNewUrlParser' does not exist in type 'TypegooseConnectionOptions'"
As the title suggest I am getting the following error when trying to register the  module:

[code]
in `app.module.ts':

[code]

[2019-08-03 22:28] wodka commented on #16
Would be quite interesting, right now if I try to add it only ends in the following error

[code]

[2019-08-10 20:54] #25 closed

[2019-08-13 19:30] duro commented on #16
I was able to get this to work, I think what is needed is to set the default setting at the lass level, and then then use property decorators to override that default. Try:

[code]

[2019-08-17 21:30] erictorresco commented on #28
you have to
[code]

[2019-08-22 14:49] kpfromer commented on #28
I will update the readme to clarify for new users.

[2019-09-01 10:11] wxs77577 opened #29 "Support for version 6."
Any plan to support version 6?

https://www.npmjs.com/package/@hasezoey/typegoose

[2019-09-04 04:57] NickBolles commented on #29
I was just looking at this. I might put together a PR for v6

[2019-09-04 04:59] NickBolles opened #30 "Global schema options"
It would be nice to be able to return schema options that will be applied to all models from the .forRoot call.

For example, If I want timestamps on all of my models I have to pass {timestamps: true} to all of my models. It would be nice If i could just return something like this from .forRoot Options and spread it into each model when calling .forFeature
[code]

[2019-09-04 13:46] NickBolles commented on #30
I looked at this a little bit, and it's not as simple as just spreading the schema options when .forFeature is called. We would need to make the options passed into .forFeature a provider, which would need to be injected into every model and then spread.

[2019-09-04 23:55] kpfromer commented on #30
That sounds promising. Do you have a fork open?

[2019-09-04 23:56] kpfromer commented on #29
@NickBolles It would be amazing if you could do that. I am quite busy right now with college.

[2019-09-05 16:35] NickBolles commented on #30
@kpfromer I don't, and honestly it's a lot easier to just create a utility function that I call to add the options for me. Might be something I look at if I get around to #29 though

[code]

Then use it like this whenever I register a model

[code]

[2019-09-16 16:00] wxs77577 commented on #29
Thanks a lot, and, when will you finish it?

[2019-09-26 10:40] michaelbats opened #31 "use of micro-package is-class?"
Considering all that's going on with npm and these micro-packages, wouldn't it be a better idea to just move the existing code from is-class as a util part of the source-code, rather than having it on npmjs where there's no guarantees that it will be the same code as in the linked github?

[2019-09-29 17:14] kpfromer commented on #29
Fixed with #32 pull request. Thank you @luisvt . The new version is `6.0.0`.

[2019-09-29 17:14] #29 closed

[2019-09-30 01:26] NickBolles opened #33 "Update to @typegooose/typegoose instead of hasezoey/typegoose"
@luisvt @kpfromer

Nice work on migrating to V6 with #32, but we'll probably need to update the package to use `@typegoose/typegoose`, see: https://github.com/typegoose/typegoose/issues/48

Just making this as a reminder for once that package is stable

[2019-09-30 05:28] wxs77577 commented on #33
The next major version is `6.0`, if you just replace the package name, it still use `v5`, please refer to `v6`:
https://github.com/typegoose/typegoose/tree/r6/master

[2019-09-30 14:45] dirkbolte commented on #33
The PR still requires the deprecated functions to be used - but at least it can be used with ```6.0``` of ```@typegoose/typegoose``` . Can we merge this upfront so that we don't block using the new typegoose package?

[2019-10-01 14:48] NickBolles commented on #33
@wxs77577 Thanks for the clarification. and @dirkbolte nice PR. With that it should just be a matter of updating the `@typegoose/typegoose` version to 6.0 once it's released.

[2019-10-01 15:51] dirkbolte commented on #33
Wasn’t it released yesterday ?

[2019-10-02 01:40] duro commented on #33
@dirkbolte I went ahead and whipped up a PR into your fork that upgrades to 6.0 of the @typegoose/typegoose package.

@NickBolles we should all coordinate on what the right release process for this is, since it does have a few breaking changes that are part of the 6.0 migration path.

Here is my PR into @dirkbolte PR:

https://github.com/dirkbolte/nestjs-typegoose/pull/1

[2019-10-03 14:15] michaelbats commented on #33
@duro  does your fork have the migration to @typegoose/typegoose added?

[2019-10-03 17:40] duro commented on #33
@michaelbats yes it does

[2019-10-03 18:35] AmirAlOmari commented on #33
Still looking for it :+1:

[2019-10-03 21:08] michaelbats commented on #33
@duro thanks, using that directly from now via github! took a bit of doing switching from extending typegoose to the decorator :)

[2019-10-04 08:21] michaelbats commented on #33
@AmirAlOmari  looking for what? a bit confused

[2019-10-08 03:29] wxs77577 commented on #33
May I ask when to release the latest version?

[2019-10-08 14:30] aidanmcdonagh22 opened #35 "Update to typegoose/typegoose v6 - TypeError: (intermediate value).setModelForClass is not a function"
Hi there, firstly i'd like to say thank you for the package it's great! but I updated my package today and am currently getting stuck with errors. I am getting a

Error.  The full error is:

`[Nest] 23619   - 08/10/2019, 15:17:02   [ExceptionHandler] (intermediate value).setModelForClass is not a function +1ms
TypeError: (intermediate value).setModelForClass is not a function
    at InstanceWrappe

[2019-10-08 15:10] guilhermegehres commented on #35
i'm facing this issue to, my workaround is make my model class extends from Typegoose exported by @typegoose/typegoose.
according this https://typegoose.github.io/typegoose/guides/migrate-to-6 Typegoose class is deprecated, so this is temporary fix.

[2019-10-08 17:10] kpfromer commented on #33
The new version is out on `7.0.0`.

[2019-10-08 17:10] #33 closed

[2019-10-11 10:52] aidanmcdonagh22 commented on #35
@guilhermegehres solved! for some reason Upgrading didn't work, remove the package and reinstall it and it will work perfectly. If you need help let me know!

[2019-10-11 10:52] #35 closed

[2019-10-13 04:04] rogrdat opened #36 "getDiscriminatorModelForClass() is not being used in case where models are sub-typed"
@kpfromer Refer details here -- https://typegoose.github.io/typegoose/docs/functions/getDiscriminatorModelForClass/.

With all models created using `getModelForClass` method, `getDiscriminatorModelForClass` is not being used and the discriminator key in schema-options is not being set as a result.  I think the initialization of the model should consider a discriminator when a model is being instan

[2019-10-13 21:11] kpfromer commented on #36
Thanks for bringing this up. Just at a glance, I agree with you about there having to be user intervention in order for `nestjs-typegoose` to know that it needs to use `getDiscriminatorModelForClass` instead of `getModelForClass`. I am thinking that there should be a `discriminator` option inside the `forFeature`.

[2019-10-14 03:21] rogrdat commented on #36
`forFeature` seems like logical place to start but will probably break the mould of how `forFeature` has been used.  Thoughts on how to go-about it?

[2019-10-14 04:20] kpfromer commented on #36
Maybe `forFeature` stores an internal map of classes and compares the constructor of a class to all the others in the internal map (`B.prototype.constructor === A`).

[2019-10-17 01:46] hasezoey commented on #26
@emjimadhu please add more context, because currently it seems like it is an typegoose issue, not an nestjs-typegoose one

what would be good to have is an fully reproduce able code, or just the whole class the hook is on

[2019-10-17 01:48] hasezoey commented on #27
@huazai128 this seems like an typegosoe issue and not fully related to nestjs-typegoose, when you still have this problem, please open a new issue at https://github.com/typegoose/typegoose/issues

[2019-10-17 01:51] hasezoey commented on #30
global model / schema options are planned for typegoose

[2019-10-17 23:39] NickBolles commented on #30
Nice! @hasezoey, do you use typegoose with nest?

[2019-10-17 23:44] hasezoey commented on #30
no, i did not use nest & type-graphql yet, but it is a planned feature

[2019-10-18 14:36] gperdomor opened #37 "Why this package?"
Hi... I want to add mongo support for my NestJS app and I found this package? But I would like to ask, what advantages have this over the official `@nestjs/mongoose`...

I manage to use Typegoose with `@nestjs/mongoose` without problems or any extra complication:

My model:
[code]

Controller:
[code]

The service:
[code]

and finally the Users module

[code]

I am not saying that this project does

[2019-10-19 01:25] AlecDusheck commented on #26
This message appeared for me as a warning in WebStorm. It doesn't appear to be a Typescript linting error but instead just a false-positive warning displayed in WebStorm.

This is a non-issue.

![Screenshot_1](https://user-images.githubusercontent.com/22039172/67135949-55c09500-f1e5-11e9-896b-2e24105a7a6e.png)

[2019-10-19 01:29] hasezoey commented on #26
this error dosnt happen in vscode, i think this is webstorm specific, because for the hooks the `this` is defined for hook functions

[2019-10-19 01:32] AlecDusheck commented on #26
Yeah I think something about the decorator confuses the WebStorm inspector and makes it believe that you don't have access to `this`

[2019-10-22 22:15] hasezoey commented on #30
global options are added in 6.1.0-6

@kpfromer this can be closed, when you want to

[2019-10-22 23:22] NickBolles opened #38 "class-validator?"
The example in the readme has class-validator included in it.
[code]

Does nestjs-typegoose have integration with class-validator? from my searching it appears that the answer is no. If there isn't integration, it probably shouldnt be in the initial readme, cuz it confused me for a bit. An example with class-validator would be cool though, and might be something that could be integrated into typeg

[2019-10-23 19:17] dgutoryan commented on #16
@duro where is `@Include()` decorator?

[2019-10-25 01:10] duro opened #39 "Jest tests start breaking after upgrading to @typegoose/typegoose v6"
I just spent the last day and a half tearing my hair out trying to figure out why my tests were breaking after upgrading to @typegoose/typegoose v6.

Turns out that the typegoose library stores an internal map of all the models that it has bootstrapped, and when you run `getModelForClass` if the model already exists in that map, it just returns the first created model.

The problem arises when you

[2019-10-29 16:07] oliviermattei commented on #37
@gperdomor I have a problem with your example.

I have this message : " GraphQLError: Type Query must define one or more fields."

**ad.ts**
[code]

**ad.controller.ts**
[code]

**ad.service.ts**
[code]

**ad.module.ts**
[code]

I don't see any differences or i'm blind ;) and I don't find the solution yet. An idea ?

[2019-11-03 11:01] hasezoey commented on #38
just for reference: https://github.com/typegoose/typegoose/issues/108

[2019-11-03 11:04] hasezoey commented on #39
sorry that this is so, why not use something like https://jestjs.io/docs/en/setup-teardown#one-time-setup ?

[2019-11-03 17:59] kpfromer commented on #31
I would rather use a micro package because I want to separate concerns. I know it is fairly small, but it is just another place this codebase would have to test for. As for "no guarantees that it will be the same code as in the linked GitHub" if they do change the way the package works in a new version we will just have to find an alternative solution.

[2019-11-03 17:59] #31 closed

[2019-11-04 09:16] michaelbats commented on #31
Thanks, I'll know not to use this package for any serious project as you clearly don't understand security.

[2019-11-04 13:07] gperdomor commented on #37
@oliviermattei I don't see differences either, but I'm not using graphQL, try without graphQL

[2019-11-07 22:25] Goodluckhf opened #41 "Once destroy module models will not use correct connection"
Hi! I have an issue the problem I describe in e2e test case:
https://github.com/kpfromer/nestjs-typegoose/pull/40/files#diff-ecad4e9db1639b13ec246bdd84e47d36R90

If you destroy module once, for example invoke `app.close()`. And then create a new one mongoose models will be taken with previous connection. That's cause `typegoose` has singletone cache for that😢.

You can run tests on [this commit wi

[2019-11-07 22:36] hasezoey commented on #41
when i read it correctly, this is a mongoose issue - models are tied to a connection

i currently dont have a link to it, but a search of "model tied connection" or so in the mongoose repo should find something

but i could be completely wrong here ...

[2019-11-07 22:41] Goodluckhf commented on #41
Yes you are right, but typegoose store in cache models which had been created before even with connection which has already closed.

https://github.com/typegoose/typegoose/blob/a3f068ed58713adee017c39e21011e934061e987/src/typegoose.ts#L95

[2019-11-07 22:43] hasezoey commented on #41
yes you are right - forgot about that

[2019-11-08 05:56] Goodluckhf commented on #41
I've created issue https://github.com/typegoose/typegoose/issues/118
So then we can update `typegoose` dependency and use correct version of `.deleteModel`

[2019-11-09 09:48] hasezoey opened #42 "Question about the current travis pipeline"
@kpfromer why is the current pipeline to `test -> build & test (with coverage) -> release`?
and not `test (with coverage) -> build -> release`?

dosnt this just make the tests longer for nothing?

[2019-11-12 19:48] hasezoey opened #45 "TSDoc?"
with this issue i request:
***TSDoc all the functions***

as someone that is new to Nest, it is kinda hard to understand what each function does (and without having used nest/mongoose)

[2019-11-18 14:17] q389491729 opened #46 "How do I get the 'connection' object of 'mongoose'"
我想使用mongoose中的一些插件，但是插件需要‘connection’对象，我该怎么获取它？

[2019-11-18 14:22] BurningBubbles opened #47 "Error when using newUrlParser"
I am getting this error when trying to use the newUrlParser.

CODE:

`@Module({
  imports: [
    GraphQLModule.forRoot({
      autoSchemaFile: 'schema.gql',
    }),
    TypegooseModule.forRoot('mongodb://localhost:27017/nest', { useNewUrlParser:true})
  ],
  controllers: [AppController],
  providers: [AppService],
})
export class AppModule {
}
`

ERROR:
TS2345: Argument of type '{ useNewUrlParser:

[2019-11-18 14:32] #47 closed

[2019-11-24 20:38] #41 closed

[2019-11-30 09:49] bebjakub opened #48 "is there an equivalent of the TypeORM Repository?"
Hi,
I'm looking for a solution to move db methods from the services to another file as it is possible with typeORM repository.  http://typeorm.delightful.studio/classes/_repository_mongorepository_.mongorepository.html
example https://github.com/arielweinberger/nestjs-course-task-management/blob/master/src/tasks/task.repository.ts

Is there a way how to achieve it?
Thank you!

[2019-12-04 13:23] andreialecu commented on #46
I was able to get the connection with:

[code]

[2019-12-06 12:10] #48 closed

[2019-12-14 10:45] mikheevm commented on #47
how did you solve this? @BurningBubbles

[2020-01-01 23:45] #27 closed

[2020-01-01 23:53] kpfromer commented on #42
@hasezoey yeah, it is pointless. I will update the pipeline.

[2020-01-02 18:20] #42 closed

[2020-01-04 20:21] kpfromer opened #52 "Better setup for development"
I think adding a code formatter would reduce style differences better developers. I also think adding a library to lint and format before git adds would be beneficial.
I think that the following libraries would be the best fit to achieve this:

- prettier (and libraries to connect it with eslint)
- husky
- lint-staged

[2020-01-04 20:41] hasezoey commented on #52
i would recommend just staying with tslint (instead of using with it with prettier), because prettier is pretty locked down, and all (that i know of) rules that prettier has, tslint does have too
-> many are added in #43

[2020-01-05 06:19] kpfromer commented on #52
I was also thinking of moving tslint to eslint with prettier since tslint is [deprecated](https://github.com/palantir/tslint/issues/4534) (or will be very soon). And to my knowledge eslint does not have any formatting just linting.

[2020-01-05 09:42] hasezoey commented on #52
i already tried moving typegoose to eslint ~2-3 months back (something might have changed), but at the time i tried, tslint was just superior for typescript because:
- the eslint-tsconfig "wrapper" just didnt support all the rules i need
- tslint-vscode integration is just superior (i mean the deprecated vscode module, because the newer just dosnt work...)
- vscode-eslint is just reporting mostly

[2020-01-08 04:16] kpfromer commented on #52
Ok. I will wait until eslint improves to switch over to using it. I do still think that adding `husky` and `lint-staged` will be useful with tslint.

[2020-01-08 17:34] #30 closed

[2020-01-18 19:01] #36 closed

[2020-01-27 15:35] samdidos commented on #25
Hi, is it possible to access a full working example for this kind of test with mocking?

[2020-01-28 20:57] mikheevm opened #57 "the options [connectionName] is not supported"
I'm trying to use multiple dbs in my app, however I get this error:
[code]

Here is my usage of the typegoose module
[code]

Versions:
[code]

[2020-01-28 21:10] mikheevm commented on #57
Also I have this:
[code]

[2020-01-28 21:17] mikheevm commented on #57
Ok so the problem was is I didn't notice that `connectionName` is also a top-level option in `forRootAsync` (also used in `useFactory`)
<img width="918" alt="Screenshot 2020-01-29 at 01 14 49" src="https://user-images.githubusercontent.com/16622558/73306089-eb33e200-4234-11ea-8d9e-922f56f8513e.png">

Is this a documentation flaw or `connectionName` in `useFactory` meant to overwrite top-level one?

[2020-01-28 21:21] mikheevm commented on #57
so after reading the source code it seems like a documentation flaw for me, I create a pr fixing the docs

[2020-01-29 12:12] elie222 opened #60 "Basic NestJS typegoose/typegraphql example not working"
I put up a basic project using NestJS, Typegoose and TypeGraphQL but the mongo query never returns:
https://github.com/elie222/nestjs-typegraphql-typegoose-example

Specifically in this file:

https://github.com/elie222/nestjs-typegraphql-typegoose-example/blob/master/src/cats/cats.resolver.ts

[code]

Not sure if this is an issue with this package or Typegoose, or likely I'm just not setting thin

[2020-01-29 12:56] hasezoey commented on #60
to get the right return types you would need to use https://typegoose.github.io/typegoose/docs/types/documentType/

maybe try @types/mongoose 5.6.x (5.7 is not yet tested with typegoose)

otherwise i dont see a problem

[2020-01-29 13:03] elie222 commented on #60
There’s no problem with types. Running the app prints the first log but doesn’t print the second. It just never returns

Best,
Eliezer

On Wed, Jan 29 2020 at 2:56 PM, hasezoey < notifications@github.com > wrote:

[2020-01-29 20:26] hasezoey commented on #60
@elie222 how to run your example repo? (i never used nest/graphql) i only got as far as to starting the server and locating `localhost:3000/graphql` (and `/cats` dosnt exists, where i would expect it)

[2020-01-29 20:32] elie222 commented on #60
I decided to go with TypeORM instead in the end. Should be under `cats { name }` in Playground.

Best,
Eliezer

On Wed, Jan 29, 2020 at 10:26 PM, hasezoey < notifications@github.com > wrote:

[2020-01-29 21:08] hasezoey commented on #60
@elie222 i just tested it, and here is what i found:
a simple log of `mongoose.connection.readyState` reveals that the default connection is not connect to the database, and so the query stalls and waits for the connection to be connected
and from what i have seen, the model you use, `Cat` is associated with the default connection, but there is an non-default connection that *is* connected

@kpfro

[2020-01-29 21:12] hasezoey commented on #60
and when trying to use `connectionName`, it will result in #57

[2020-01-31 20:39] JakeAi opened #61 "Pre save hook called twice during jest testing"
I have been trying to track down this issue all day and cannot figure out what is going on. I have a simple service with a register function. My automated login after registration test keeps failing. I found it's because the pre-save hook gets called twice and re-hashes the hashed password. This behavior does not happen during normal operation... only under jest testing.

This code produces the co

[2020-01-31 20:55] hasezoey commented on #61
could you provide an reproduction repository?

[2020-02-02 04:13] JakeAi commented on #61
@hasezoey [https://github.com/JakeAi/nestjs-typegoose-pre-hook](https://github.com/JakeAi/nestjs-typegoose-pre-hook)

In `sso.module.spec.ts` you will see two lines
[code]

[2020-02-02 04:21] hasezoey commented on #61
@JakeAi your repo does not exists ("Page Not Found / 404")

[2020-02-02 04:24] JakeAi commented on #61
@hasezoey my bad, my stuff defaults to private. Try it now.

[2020-02-02 04:37] hasezoey commented on #61
@JakeAi i ran it, but it dosnt seem to be the tests (it started the app), but as i read, it is about the tests, right?

[2020-02-02 04:38] JakeAi commented on #61
Oops, yes. The sso.module.spec.ts is ran with jest.

[2020-02-02 04:38] hasezoey commented on #61
@JakeAi any specific command or just `jest sso.module.spec.ts`?

[2020-02-02 04:40] hasezoey commented on #61
as general notes: for the connection options you specified already-default values and incompatible options (the options `autoReconnect`, `reconnectTries` and `reconnectInterval` are incompatible with `useUnifiedTopology`) and i upgraded typegoose, mongoose and types-mongoose just to be sure

[2020-02-02 04:42] JakeAi commented on #61
I just added a missing jest.config file. I use webstorm to run the tests so I'm not sure what it actually runs. I believe I removed those options in my original project, but when I cloned it I must not've cloned the latest.

[2020-02-02 04:47] hasezoey commented on #61
i executed your example with the mentioned edits, and i can not see the hook being executed twice

[2020-02-02 04:48] JakeAi commented on #61
Jest sso.module.spec.ts produces the same results as webstorm for me.

[2020-02-02 04:51] hasezoey commented on #61
[0001-WIP.patch.txt](https://github.com/kpfromer/nestjs-typegoose/files/4143543/0001-WIP.patch.txt)
this patch includes all my changes made, apply it with `git am < 0001-WIP.patch.txt` (if on linux / macos)

[2020-02-02 05:00] JakeAi commented on #61
This is with your patch

[code]

[2020-02-02 05:07] hasezoey commented on #61
@JakeAi now it is appearing too, but when i sent this patch, it was execution just fine

[2020-02-02 05:08] hasezoey commented on #61
now i executed it with `jest --watch` / `jest --watchAll` and it just runs fine, and when just using `jest` (run once) it fails, uh what

[2020-02-02 05:09] JakeAi commented on #61
It happens on both my macbook and windows :(

[2020-02-02 05:10] JakeAi commented on #61
Is it a race condition or something somewhere? So, I wonder... if in production I may or may not notice it, but since I'm running tests ( I JUST switched to nest this week and started porting my express to nest ) I am noticing it because I'm running the test constantly...

[2020-02-02 05:11] hasezoey commented on #61
i will look more into it tomorrow

[2020-02-02 05:15] JakeAi commented on #61
Now I'm getting it to happen regardless of those two lines I comment and uncomment. Sounds good, thanks @hasezoey

Must be solar flares

[2020-02-02 05:21] JakeAi commented on #26
@emjimadhu @AlecDusheck @kpfromer  I use webstorm and this is what I use
[code]

[2020-02-02 13:12] cieldon32 opened #62 "about InjectModel"
My controller has a argument is a InjectModel, code:
[code]

and the Poll code is:
[code]

and jest code :
[code]

and I get  this error:
Nest can't resolve dependencies of the PollsController (?). Please make sure that the argument PollModel at index [0] is available in the PollsModule context.

    Potential solutions:
    - If PollModel is a provider, is it part of the current PollsModule?

[2020-02-02 16:44] hasezoey commented on #61
@JakeAi i investigated a bit, and it seems `should respond 200 with jwtAccessToken` is dependent on `should succeed with HTTP 201 Created` maybe this is your race condition?

[2020-02-02 17:06] JakeAi commented on #61
But why does the hook call twice?

[2020-02-02 17:09] JakeAi commented on #61
This part means it’s called twice. It takes the password, hashes it, then takes the hashed password and hashes it again. Then saves.
[code]

[2020-02-02 17:17] hasezoey commented on #61
@JakeAi for me the hooks gets called twice, but only one hash occurs (i added logs before the try, and after the if, and both trigger only the hashing dosnt trigger for me twice

[2020-02-02 17:20] JakeAi commented on #61
Sometimes it works but most of the time it’s hashes twice for me. Is there anything else I can do to log on my end?

[2020-02-02 17:38] hasezoey commented on #61
as to why it gets called twice? it is added twice - still need to figure out why any where

[2020-02-02 17:59] hasezoey commented on #61
i found the reason on why it is added twice: it is once added to the typegoose maps when the file `User` is in is imported, and once when it is added in the ref of `PasswordToken` - i dont really understand why it gets executed again (all the decorators) and the reason it is happening to the hooks and not the properties is because the properties are already on the class, while the hooks are curren

[2020-02-02 18:24] JakeAi commented on #61
@hasezoey My buddy said

[https://github.com/facebook/jest/issues/3552](https://github.com/facebook/jest/issues/3552)

[code]

[2020-02-02 18:36] hasezoey commented on #61
after adding `moduleNameMapper` do?  because after adding this, everything runs fine (but still the race condition between tests)

[2020-02-02 18:37] hasezoey commented on #61
so i would consider this issue as "not an problem with nestjs-typegoose and typegoose" (except maybe the the mention issue that hooks are still specially handled)

[2020-02-02 18:39] JakeAi commented on #61
The moduleNameMapper seems to be the ticket from what i can tell. I'm not concerned about the order of tests are ran in, that's a different animal. The race condition I was talking about (why it was being inconsistent) was just MAYBE something deep within nestjs-typegoose, but apparently not.

[2020-02-02 18:42] hasezoey commented on #61
yes, but i meant when you do something like execute the suite case `Login After Registration` alone, it will still fail because it is missing the setup from `should succeed with HTTP 201 Created` - that was just an general note

[2020-02-02 18:43] JakeAi commented on #61
Oh, yeah. That's fine. I had JUST started porting my express code when this issue came up.  I also was coming from a testless environment.

[2020-02-02 18:44] hasezoey commented on #61
@JakeAi so is this issue finished? or should it be kept open?

PS: happy porting :)

[2020-02-02 18:45] JakeAi commented on #61
I'd say it's finished... because the original jest config came from [https://nx.dev/](https://nx.dev/). Unless maybe there is a more recommended jest config approach?

[2020-02-02 18:48] hasezoey commented on #61
not that i know of

[2020-02-02 18:55] #61 closed

[2020-02-02 19:44] JakeAi commented on #61
@hasezoey I created an issue where it needs to be fixed. And I referenced this issue for information.

[2020-02-03 16:15] adikaladik opened #63 "DeprecationWarning: current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discover and Monitoring engine, pass option { useUnifiedTopology: true } to the MongoClient constructor."
Hi All!
With current version of this module I cannot specify in the property useUnifiedTopology: true it shows me this argument is not assignable to parameter of type TypegooseConnectionOptions.
It would be really helpful if someone could help me to resolve this.

[2020-02-03 16:44] hasezoey commented on #63
@adikaladik do you have `@types/mongoose` installed? otherwise just use `// @ts-ignore` (ignores the next line)

[2020-02-03 16:45] adikaladik commented on #63
@hasezoey yes, I do.

[2020-02-03 16:56] hasezoey commented on #63
i dont see any problem doing
[code]

[2020-02-03 17:08] adikaladik commented on #63
![TypegooseScreen](https://user-images.githubusercontent.com/10028284/73674153-8eaf4780-46b8-11ea-844e-8cd8a060fa70.png)

@hasezoey

[2020-02-03 17:14] oliviermattei opened #64 "An example of a graphql server and typegoose"
It would be amazing to have an example to create a graphql server with the code-first way and typegoose.

Indeed, I tried for a long time to merge the typegoose model with the @ObjectType which are really very similar, but I still didn't succeed.

It would be impressive if it was possible to do both with 1 class.

[2020-02-03 17:14] hasezoey commented on #63
do you use the latest version of nestjs-typegoose?

[2020-02-03 17:17] adikaladik commented on #63
"nestjs-typegoose": "^7.0.0",

[2020-02-03 17:27] hasezoey commented on #63
could you try:
[code]
just to be sure that it is installed and the latest version?

[2020-02-03 20:29] kpfromer commented on #62
Yeah, `getModelForClass` is for internal program use and should not be used for testing. You should use `getModelToken` instead. Here's what your program would look like:
[code]

I will clarify in the program documentation.

[2020-02-04 12:58] oliviermattei commented on #60
I have a similar problem.
[https://github.com/oliviermattei/nestjs-graphql-typegoose-example](my example repo)

In my case, User works perfectly but demand is stuck when I use it. I have
` "error": "Failed to fetch. Please check your connection"`

In fact the demand way should be better because of the fusion of model and type

Have you an Idea ?

[2020-02-04 12:58] #64 closed

[2020-02-05 11:02] Bazoef opened #66 "Npm not up-to-date with master?"
Is there a particular reason the latest master version 7.1.0 is not yet available on npm?

[2020-02-05 15:19] nasr18 commented on #46
@q389491729 which plugin you are talking about? `mongoose-auto-increment` plugin?

[2020-02-05 15:24] nasr18 commented on #27
@hasezoey this is the same issue I'm facing in our project. `mongoose auto increment` plugin using `mongoose.model` method to fetch data. But getting undefined and the plugin keep on trying to connect to that collection.

[2020-02-05 16:11] q389491729 commented on #46
yes.&nbsp;mongoose-auto-increment&nbsp;plugin

---Original---
From: "Mohamed Nasrullah"<notifications@github.com&gt;
Date: Wed, Feb 5, 2020 23:19 PM
To: "kpfromer/nestjs-typegoose"<nestjs-typegoose@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"CodePirate"<389491729@qq.com&gt;;
Subject: Re: [kpfromer/nestjs-typegoose] How do I get the 'connection' object of 'mongoose' (#46)

[2020-02-05 16:54] nasr18 commented on #46
@q389491729 is that plugin working with nestjs?

[2020-02-05 17:00] q389491729 commented on #46
yes,but I don't know how to do&nbsp;

---Original---
From: "Mohamed Nasrullah"<notifications@github.com&gt;
Date: Thu, Feb 6, 2020 00:54 AM
To: "kpfromer/nestjs-typegoose"<nestjs-typegoose@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"CodePirate"<389491729@qq.com&gt;;
Subject: Re: [kpfromer/nestjs-typegoose] How do I get the 'connection' object of 'mongoose' (#46)

@q389491

[2020-02-05 19:30] nasr18 commented on #46
Did you made it to work or not?

[2020-02-05 20:42] q389491729 commented on #46
I tried to make it work, but it never worked.

---Original---
From: "Mohamed Nasrullah"<notifications@github.com&gt;
Date: Thu, Feb 6, 2020 03:30 AM
To: "kpfromer/nestjs-typegoose"<nestjs-typegoose@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"CodePirate"<389491729@qq.com&gt;;
Subject: Re: [kpfromer/nestjs-typegoose] How do I get the 'connection' object of 'mongoose' (#46)

[2020-02-06 15:36] nasr18 commented on #46
then what plugin you are using to achieve this?

[2020-02-09 19:05] kpfromer commented on #66
Nope, just have to push it. Thanks for the remainder 😀

[2020-02-11 20:31] #66 closed

[2020-02-14 16:42] kpfromer commented on #57
Closing since the pr was merged.

[2020-02-14 16:42] #57 closed

[2020-02-19 09:55] WumaCoder opened #67 "About the document"
Is there any more complete documentation, because I would like to know the parameter description of the `options` object of `prop`.

[2020-02-19 09:59] hasezoey commented on #67
the mentioned function is not part of this package (nestjs-typegoose), this is only an wrapper plugin for nestjs for [typegoose](https://github.com/typegoose/typegoose), the documentation for typegoose [can be found here](https://typegoose.github.io/typegoose/)

[2020-03-01 01:46] kpfromer commented on #37
I am doing to close this issue since it is stale.

[2020-03-01 01:46] #37 closed

[2020-03-01 05:07] dzcpy opened #68 "How to use mongoose plugins?"

[2020-03-01 05:09] dzcpy commented on #68
https://github.com/typegoose/typegoose/blob/65e5e4d72fd4edb955992f2eb27734b9f19882a5/github-page/_docs/decorators/plugins.md

[2020-03-01 05:09] #68 closed

[2020-03-01 06:17] hasezoey commented on #68
https://typegoose.github.io/typegoose/docs/decorators/plugins/

[2020-03-01 21:55] kpfromer commented on #26
Closing this issue because it has been resolved.

[2020-03-01 21:55] #26 closed

[2020-03-05 20:43] #45 closed

[2020-03-08 17:03] guotingchaopr opened #70 "When I used the `extends` base model, something strange happened."
### Base Model

[code]
### The Feature Model

[code]

### And Other Feature Model

[code]

---
#### Problems

[code]

**🤔 I think it might be a bug.**

Can you tell me what is causing this? I don't want to give up `extends` and bypass this problem.

[2020-03-08 17:13] kpfromer commented on #70
I think you need to use [monoose discriminators](https://mongoosejs.com/docs/discriminators.html). Object inheritance with [typegoose](https://typegoose.github.io/typegoose/docs/functions/getDiscriminatorModelForClass/) does not carry over all the schema options and properties (this is a limitation with decorators). So you have to use discriminators to tell typegoose to inherit the schema options.

[2020-03-08 17:18] hasezoey commented on #70
@kpfromer actually when `extends` is used, the modelOptions, indexes, `@prop`'s and theoretically everything should carry over

---

 @guotingchaopr this issue is already known in typegoose and tried fixing it, but it keeps re-appearing, could you list all versions you use?
- nodejs
- typegoose
- nestjs-typegoose
- typescript

[2020-03-08 19:48] #62 closed

[2020-03-09 10:58] guotingchaopr commented on #70
#### The version information  follows
- nodejs v12.14.1
- @typegoose/typegoose@^6.2.1
- nestjs-typegoose@7.0.1
- typescript@3.8.3
- @nestjs/core@6.11.11
- @types/mongoose@5.7.2
- mongodb@v4.2.2

---
###  Explain the error

  Sometimes  need to save the role model,

  **Expected behavior**

  **Current behavior**

---
### The current solution 👻

[code]

When I need to inject the feature model

[cod

[2020-03-18 17:29] sguilly opened #78 "Visual Studio Code - Debug Mode Crash"
Strange issue : the visual studio code debugger code crash when i import TypegooseModule.forRoot

Same issue with a fresh project from "git clone https://github.com/nestjs/typescript-starter.git project" and different node 10 / 11 & 12 and a VSC updated

[code]

[code]

--------------------------------------

**If i comment TypegooseModule.forRoot, i have no issues to start the debugger**

A class

[2020-03-18 21:33] kpfromer commented on #78
Hmm. The code you provided it working with me when running the debug script through vs code. I am running node version `v13.11.0`.

[2020-03-18 21:42] kpfromer commented on #63
@adikaladik Did you manage to solve this issue?

[2020-03-19 08:26] sguilly commented on #78
By adding ""runtimeExecutable": "/home/toto/.nvm/versions/node/v12.7.0/bin/node" in my launch.json config, the issue is fix.

`
{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
    "type": "node",
    "

[2020-03-19 08:26] #78 closed

[2020-04-25 19:16] #67 closed

[2020-04-25 19:17] #52 closed

[2020-04-25 19:17] #70 closed

[2020-04-29 14:18] manzonif opened #159 "Inject model into schema for post hook"
There is a way to do this?

https://github.com/nestjs/mongoose/issues/7#issuecomment-591771792

[2020-04-30 03:10] kpfromer commented on #159
I will take a look at this in a week, I am quite busy with finals at the moment!

[2020-04-30 08:25] manzonif commented on #159
Ok thanks!

[2020-05-01 13:16] taksumaki opened #165 "The package occupies updating the dependencies"
When I install the package I get the following warnings saying that the package requires outdated @nestsJs and typegoose packages. Please update the dependencies in the package.

[code]
The versions of packages I use are updated to their latest stable version:
[code]

[2020-05-02 04:17] kpfromer commented on #165
Yeah, I will update the dependencies soon.

[2020-05-03 17:13] #165 closed

[2020-05-15 13:01] ScreamZ opened #195 "A lot of warning"
hello, I'm getting a lot of theses on start… Am I doing something wrong ?

<img width="1377" alt="Screenshot 2020-05-15 at 15 00 48" src="https://user-images.githubusercontent.com/6640835/82053023-f106e380-96bc-11ea-8017-e516a20adbfb.png">

[2020-05-15 14:47] ScreamZ commented on #195
This was due to my model

```class User extends mongoose.Document```

You should never extend typegoose that way, we are working on some PR for that

[2020-05-15 14:47] #195 closed

[2020-05-28 16:08] boskiv opened #216 "[Question] Is there logging param in TypegooseModule?"
can I see more verbosly when objects saved in db with TypegooseModule?

[2020-05-29 00:51] #216 closed

[2020-06-02 09:56] constantinoschristoforou opened #220 "Multitenancy"
I am trying to build multitenancy functionality, each tenant will have its own database.
Is this possible to create dynamically the connections using typegoose?

[In the documentation](https://kpfromer.github.io/nestjs-typegoose/docs/multiple-connections) as I can understand you can have multiple connections but are declared static.

Any help would be appreciated

[2020-06-15 13:29] hasezoey commented on #39
6.1 with [`deleteModel` released](https://typegoose.github.io/typegoose/changelog#610) some time ago

[2020-06-17 03:47] #63 closed

[2020-06-17 03:58] kpfromer commented on #220
You currently can not dynamically create the connections. I will take a look at this more when I get the time, but at a quick glance, I am unsure if nestjs support on the fly module creation.

[2020-07-03 11:02] hehehai opened #258 "Help! How to capture database connection events"
## What to include in your Questions
I currently use typegoose in the nestjs project, but I now want to set the database connection event, like this
[code]
But i don't know how to do it now

## Versions

- typegoose: 7.2.0
- nest-typegoose: 7.1.28
- mongoose: 5.9.21

[2020-07-03 11:44] hehehai commented on #258
I found this connectionFactory at @nestjs/mongoose but I didn’t find it at nestjs-typegoose

@nestjs/mongoose
[code]

nestjs-typegoose
[code]

[2020-07-04 07:50] #258 closed

[2020-07-30 01:36] boskiv commented on #68
Page does not exists anymore. :(

[2020-07-30 01:43] hasezoey commented on #68
@boskiv documentaion engine changed, it is now https://typegoose.github.io/typegoose/docs/api/decorators/plugins/

[2020-08-07 15:34] wxs77577 commented on #220
Same request, both document-based and db-based multi-tenancy needed. If not, could you please gave some suggestions?

[2020-08-11 14:48] NickBolles opened #314 "Techniques for seeding DB"
@kpfromer or others. Do you have a suggestion for seeding the DB with test data with Nest and Typegoose? Looking at options right now. I'm using Cypress for testing.

[2020-08-12 02:00] kpfromer commented on #314
I personally have not tried this but you could try [this](https://medium.com/the-crowdlinker-chronicle/seeding-databases-using-nestjs-cd6634e8efc5).

[2020-08-17 02:14] NickBolles commented on #314
@kpfromer Thanks for the resource! I ended up just doing a test-only controller that uses fakegoose to generate fakes.

[2020-08-17 02:14] #314 closed

[2020-09-08 01:29] taksumaki opened #358 "Update "@typegoose/typegoose" package"
Please update the Typegoose package as you are using an old one and also that the npm console shows the warning that it is out of date and it would be good practice to update it to its latest version to use its latest features and applied fixes.

Warning message that appears on the console:

[code]

The latest version of Typegoose is version 7.3.5 and the package uses version 6.2.1, it is out of d

[2020-09-13 23:08] DmytroMysak opened #374 "Retrying customization"
Since we have changes to retry connection when `useUnifiedTopology: true`  I'm expecting similar retrying customization as in [nestjs-mongoose](https://github.com/nestjs/mongoose/commit/e8d14bf2da93b5f052a33cfa0cd96e5ffe071043) because right now, I don't see any way to handle retry with useUnifiedTopology = true.

Current situation:

- no connection to MongoDB
- start application with `useUnifiedT

[2020-09-29 01:12] #358 closed

[2020-10-21 13:59] sir3mat opened #387 "Type Error: "function model(doc, fields, skipId) {...}" is not a valid Model! - Help"
Hello everybody,
this is the first time I open a request on github,I hope not to make mistakes.
Someone could kindly explain to me what are the general causes that could generate a similar error?

[code]
---
_**Some application context...**_
I'm trying to create an npm package that defines an authentication module.
This module does not include a userModule for managing users but I want this to be

[2020-10-23 12:04] sir3mat commented on #387
I fixed it temporarily using only nestjs/mongoose and typegoose

[2020-10-23 12:04] #387 closed

[2020-10-26 01:36] dereekb opened #388 "Suggestion: "Nest can't resolve dependencies of the Model" due to connectionName"
I'm new to using Nestjs/Typegoose and ran into the issue where I kept getting the following issue:

[code]

Eventually I realized that I had accidentally set a connectionName in my configuration:

[code]

...which suddenly clicked because the models were registering with the default/non-named connection.

This is mostly a cautionary tale. In retrospect, the Nestjs DI system. was telling me the Def

[2020-10-28 22:55] kpfromer commented on #388
I will try to take a look at this at some point in the future (most likely December) since I am really swamped with college work.

From a glance, I think it might be possible if NestJS exposes a way to catch DI errors/warnings. If there is no solid solution, I could add a note to the docs to say: "Make sure you created the typegoose connection properly" if you get this error.

[2020-11-05 19:13] jtbairdsr commented on #159
any update on this? this would be a great feature for triggering changelog creation in hooks instead of having to write a service wrapper and enforce its usage...

[2020-12-14 03:18] nartc opened #394 "Feature Request: Support forFeatureAsync to handle Hooks with injectables"
Same as `nestjs/mongoose` https://docs.nestjs.com/techniques/mongodb#hooks-middleware

This will allow for something like the following:

[code]

[2020-12-27 12:42] mruknowme opened #397 "No Intellisense support"
[code]

`userModel` is always of type `any`. Any ideas what could be wrong?

[2020-12-27 23:53] kpfromer commented on #397
Could you paste the definition of your `User` and your package version?

[2021-01-21 02:30] Fazatholomew opened #398 "Controller passes the test whereas the services level test don't"
I am using mongodb-memory-server to test the connection. During test, the services don't create entries correctly, however when using controller to create entries, it was successful. Below is the test code:

auth.controller.spec.ts (All Passes)
[code]
Output
[code]
services.spec.ts (None passes)
[code]
Output:
[code]

Both console.log is run at the service level. Even if I make mistake on the serv

[2021-02-24 08:49] rjkz808 opened #400 "Models with the same name"
When creating several classes with the same name **AND** applying typegoose's `modelOptions `for them this way:

[code]

`nestjs-typegoose` injects the same model twice, seems like it ignores `options.customName` value for some reason.
Are there any plans to support this case? Thank you.

[2021-02-25 04:50] kpfromer commented on #400
Yeah, you are correct. The current implementation does not honor the `customName` from `typegoose`. It internally uses the class name, and thus you get a naming collision.

I think that honoring `typegoose`'s `customName` is important (I did not know about it until now). But I am quite busy at the moment with classes. So a PR would be much appreciated!

[2021-03-05 05:15] smolinari commented on #394
Question: isn't the facility in Typegoose for using hooks not enough?

Scott

[2021-03-05 05:40] nartc commented on #394
@smolinari is the question directed to me? if yes, then no, hooks alone aren’t enough. This feature request allows for using Dependency Injection configurations in the hooks which isn’t possible atm.

[2021-03-05 12:34] smolinari commented on #394
Ah, Gotcha. I would have put that password hashing logic in a service anyway. But, I guess that's just me. 😁

Scott

[2021-03-05 13:10] nartc commented on #394
@smolinari Right. I used to do the same but then the logic gets repetitive (while I also tried to DRY it).

There are some different use-cases like post-processing some field changed. Eg: a wysiwyg editor sending raw markdown to the backend, the backend post-processes the markdown and saves html in the db. Whenever this field gets updated, run the post-processing again. Stuffs like this make a lot

[2021-03-30 23:04] salim97 commented on #159
+1

[2021-04-01 13:28] AmineHouari98 commented on #159
still nothing ?

[2021-04-06 07:59] FinchJohnRen opened #407 "some error"
![image](https://user-images.githubusercontent.com/26704435/113677869-9de0b980-96f0-11eb-9b01-2547e279383a.png)

package.json

 "@typegoose/typegoose": "^7.4.5"
    "@nestjs/mongoose": "^7.2.0",

   "@types/mongodb": "^3.6.3",
    "@types/mongoose": "^5.10.2",

[2021-04-08 04:59] pozniakas commented on #159
I know that the code of the decorators could be improved, but this code could be the start to have solution for Mongoose hooks:
https://github.com/nestjs/mongoose/issues/7#issuecomment-815443958

[2021-04-28 02:17] kaname-png opened #409 "Incompatibility with the typegoose model"
[code]
[code]

[2021-04-28 17:18] #409 closed

[2021-05-22 07:56] tnte commented on #159
Take a look at https://github.com/nestjs/mongoose/issues/7#issuecomment-845872941 - This is how I solved the issue.

[2021-05-23 22:20] dwarak123 opened #420 "Typegoose library hook errors.....Generic type"
Hello am trying to reduce the number of classes and interfaces that are required by mongoose so I am trying typegoose to solve this....

My dto

import { ApiProperty } from '@nestjs/swagger';
import { IsNotEmpty } from 'class-validator';
import { prop } from '@typegoose/typegoose';
export class zcharm {

    @IsNotEmpty()
    @ApiProperty({example: 'c4q-435', description: 'Quality environment cent

[2021-05-31 08:32] fasenderos opened #424 "InjectModel brake on mongoose 5.12.9 and higher"
Hi, I'm testing latest `typegoose@beta.11` with `mongoose 5.12.9` (tested also with `5.12.10` and `5.12.12`) but the `InjectModel` got breaked.

[code]
I have tried several combination of typegoose and mongoose and I can say that the maximum supported versions are `typegoose beta.9` and `mongoose 5.12.8`. InjectModel don't work when i try to upgrade mongoose to `5.12.9` or higher.

To be noted tha

[2021-06-07 14:30] feliperoan commented on #420
Hello, could you solve it? I have the same error

[2021-06-07 14:34] feliperoan commented on #424
Hello, could you solve it? I have the same error
Do you have a version that I can try in my package to solve the problem at least until there is a solution?

[2021-06-07 21:15] fasenderos commented on #424
I did not found a solution, so I have to stay with `typegoose beta.9` and `mongoose 5.12.8`

[2021-07-02 08:08] kuangshp commented on #420
Hello, could you solve it? I have the same error

[2021-07-02 09:43] dwarak123 commented on #420
Hello sorry about the late reply I could not solve it using typegoose but
solved it using mongoose it self I was trying to avoid duplication schema
document and class. Now I use schema factory for class to define the schema
and export type like classdocument = class & Document

Tip Document imported from nestjs/ mongoose

Now I have all three types in one class

On Fri, 2 Jul 2021, 18:09 水痕, ***@*

[2021-07-11 11:07] shahriar-shojib opened #432 "Dependency Injection Inside a Pre save hook"
Hello,
I would like to perform dependency injection on a pre-save hook function, I haven't found any guides on the docs to do such a thing.
Ideally, I would like to be able to do something similar like this: https://docs.nestjs.com/techniques/mongodb#hooks-middleware .
Please let me know if it's possible with nestjs-typegoose .
Thanks

[2021-07-13 12:25] smolinari opened #433 "Support/ update to NestJS v8 and others"
@kpfromer - Can you keep up the maintenance of this package? Would be awesome. Nest is on version 8 and Typegoose is going to be hopefully also going to version 8 soon.

At any rate, this package is falling behind quickly. 😬

Scott

[2021-07-14 15:01] smolinari commented on #433
I've create a PR to update the package. Not sure if it is right or good. Just trying to help.

Scott

[2021-07-23 06:56] smolinari commented on #433
Since it seems this project has been abandoned or rather I don't want to wait weeks to get updates/ fixes I've decided to fork it to my project and take care of it. I'm not sure what the proper procedure is for doing this. Hope I'm not stepping on anyone's toes, as that is not my intention. I realize people do these projects voluntarily (and hugely appreciate the efforts) and thus, sometimes no lo

[2021-07-23 16:22] kpfromer commented on #433
Hey Scott, sorry to be so distant with the responses. Things have been quite busy with work and school. I will try to review your code shortly, and thanks for the PR.

Yeah, my support for this project has been lacking since I am quite busy, so definitely feel free to fork the project!

[2021-07-24 06:55] smolinari commented on #433
@kpfromer - Hey. Nice to see you. I'd be very interested in your feedback with my PR. To be honest, I'm not the greatest programmer (it's a hobby) and I'm sure there are a ton of mistakes. Also, it seems my reasoning for needing the updating was unfounded and to be honest, I can't remember the reasoning either. I believe it was a mismatch in peer dependencies I was running into, now that Nest is a

[2021-07-28 23:48] ENiGMA9 opened #435 "Discriminator properties not working, only base class."
EDIT2: I will leave this here for posterity if that's ok with you. As a statement and a reminder, to NEVER name your classes too close to 'reserved' keywords because bad stuff can happen. I just lost 3 hours because I'm dumb. I wrote this code days ago, not now, but just now got to test this class. It's incredible it inserted into the db with the discriminator and model loaded at all.
My classname

[2021-07-29 00:03] #435 closed

[2021-07-29 09:21] shahriar-shojib commented on #433
Typegoose 8 was released today

[2021-08-04 09:24] muffincolor commented on #433
Good day, I have some problems with nestjs-typegoose when I install this one by npm. I think that it might be a problem with the nest update.

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: rms-monitroing-api@0.0.1
npm ERR! Found: @nestjs/common@8.0.5
npm ERR! node_modules/@nestjs/common
npm ERR!   @nestjs/common@"^8.0.5" from the roo

[2021-08-04 09:44] smolinari commented on #433
Actually, 8.1 has also been released. 😁

Scott

[2021-08-10 11:55] DanielEberl commented on #433
Hey, what is going on with the 58 open pull requests?

I can definetly help maintaining this package if you need help. I can take my time since we rely heavily on this package.

Feel free to DM me or add me as a collaborator.

[2021-08-22 19:47] kpfromer commented on #433
Yeah @DanielEberl, I could definitely use the help. College is starting back up, and classes are getting quite tough. Thus I won't have that much time to devote to open-source projects. As for the 58 prs, I think dependabot is not auto merging.

[2021-08-22 19:48] kpfromer commented on #433
I am also trying to get Github actions up and working with semantic release, but I have run into a few problems with branch protections. Hopefully when that is working auto merging should be fixed.

[2021-09-03 00:06] OoDeLally opened #445 "MongooseError: Operation `xxx.find()` buffering timed out after 10000ms"
I'm posting this for the next person who will have this issue.
This happened to me even though the mongodb connection was clearly established.

It you call `getModelForClass` like vanilla Typegoose suggests you to do just after your entity class, e.g.
[code]
the model somehow will not be connected to the connection instance used by the NestJS app. Therefore any operation e.g. `find()` will not rea

[2021-09-03 00:06] #445 closed, assigned to nobody

[2021-09-09 18:16] OoDeLally commented on #424
I had a similar problem, and my mistake was a combination of various bad dependencies.
A - I was trying to export the model, instead of exporting the service.
or
B-  I was exporting the service, but was including the service into the user's `providers` (which leads to a double-instantiation).
If you can create a minimal example, I can have a look, in case you made the same kind of mistakes.

[2021-09-10 09:25] GuillaumeGSO commented on #424
Hi, i have a similar problem on a very simple training project.
@OoDeLally : fell free to have a look on this branch : https://github.com/GuillaumeGSO/notifications-project/tree/adding_mongodb

I've been stucked on this for hours now....
My model is **NotificationData** but the error keep using **NotificationDataModel**
`@InjectModel(NotificationData)`
[code]

[2021-09-10 11:02] OoDeLally commented on #424
@GuillaumeGSO  You did the same mistake as I did:
[code]

Including services and controllers into the `controllers` and `providers` will make Nest try to _instantiate_ them from that module (here `AppModule`, which should not instantiate them, but merely import them from `NotificationModule`).
Only `NotificationModule` does have the required dependencies, and you only need to instanciate them from

[2021-09-10 13:37] GuillaumeGSO commented on #424
Thank you so much !
Just few lines and you saved my day !

[2021-09-13 06:57] omakise opened #446 "Mongoose version 6.0.5, without usenewurlparser parameter"
TypegooseModule.forRoot('mongodb://127.0.0.1:27017', {
  // Mongoose version 6.0.5, without usenewurlparser parameter
  useNewUrlParser: true
})

[2021-09-14 08:27] #446 closed, assigned to nobody

[2021-09-30 13:16] MarcBollmann commented on #433
Any updates on this?

[2021-09-30 15:30] smolinari commented on #433
Yeah, even my PR is outdated now. Typegoose is at version 9, but it seems everything is still working. Still, this gem of a package should be updated to keep up. 😀

Scott

[2021-09-30 15:36] MarcBollmann commented on #433
@smolinari I saw your fork seems to be more updated than this one

[2021-09-30 15:47] smolinari commented on #433
@MarcBollmann - It is. I'd need to do some more updating though. Maybe I'll do it tomorrow.

Scott

[2021-10-25 08:14] 87789771 commented on #432
me too

[2021-10-25 09:12] AlexBollmann commented on #433
any updates on this?

[2021-10-25 09:23] smolinari commented on #433
I personally have forked it and updated myself. I haven't pushed the changes here, as it seems this project is dead.  If anything, later, I'll be posting it as a library package to my project. That will be a while though.

Scott

[2021-10-26 06:19] 87789771 commented on #394
@nartc Hello, how did you solve it?

[2021-10-26 07:19] smolinari commented on #394
@87789771 - You do the hashing in either the User or Auth services, where it actually belongs.

Scott

[2021-10-29 13:56] kamalkech commented on #433
@smolinari i guess we need to remove this package from our projects, cuz any reactivity or support for this package!!

[2021-11-02 10:45] AlexBollmann commented on #433
@kamalkech if you have any knowledge how to proceed without this package, please share 😁
I also thought about forking it, but I'm really not that deep into this topic rigt now..

[2021-11-03 08:51] alexreal1314 opened #452 "Mongoose 6.x Support Issue - no exported member 'ConnectionOptions'"
We are trying to upgrade to mongosoe 6.x and encountered a problem with the package, It is importing an old interface which no longer exists.
`import { ConnectionOptions } from 'mongoose';
export interface TypegooseConnectionOptions extends ConnectionOptions {
    connectionName?: string;
}`

in the file typegoose-options.interface.d.ts

Should be updated to ConnectOptions.
Can this be fixed or sh

[2021-11-03 21:28] bmxpiku commented on #452
@alexreal1314 see 65 pull requests and no action on them, and I guess now you could fork updated version that was done in other opened issue
https://github.com/kpfromer/nestjs-typegoose/issues/433

[2021-11-13 20:57] nhhockeyplayer opened #453 "replace Promises with Observables"
Observables were the defacto standard for http in 2016 and now the STANDARD

its nice to see a fixture for nestJS for typegoose

I thought this Promise decision was typegoose related but it is not

https://github.com/typegoose/typegoose/issues/631

Can Promises be ditched for Observables?

[code]

this is what I would like to see returning an Observable to the front end

[code]

Any assist and hel

[2021-11-14 05:44] smolinari commented on #453
Please speak for yourself. I want promises, where they make sense and that is in 99% of TypeScript/ JavaScript code being written. They are an integral part of Node/ JavaScript to make use of JavaScript's event loop in order to stop code from blocking processing.

Not using Promises in TypeScript/JavaScript won't make the code more object oriented. There is no such thing as "async threads" in Java

[2021-11-17 20:20] Chris8800 opened #454 "'useNewUrlParser' does not exist in type 'TypegooseConnectionOptions'"
I am trying to connect to mongo but I am getting the error msg above. I have read the README and installed as explained. Whats the fix?

[2021-11-17 20:32] Chris8800 commented on #28
I'm still having some problems regarding this error

[2021-11-27 05:16] galaxyJM commented on #454
maybe the version problem

[2021-11-29 11:54] nhhockeyplayer commented on #453
well all you did was introduce a bunch or junk an unnecessary layer of async/await hell
sorry to sound offensive its constructive
unless its what you like I couldn't be bothered
for the hip scripters (which for most part publish Anything to get a name for themselves) who enjoy drowning in functional garbage and cannot break their co-dependent habits and addictions I have seen enough impact tot he

[2021-11-29 12:00] nhhockeyplayer commented on #453
Im working on writing my own now
and a personal repository for each model GENERICS
I'd be interested if your going to support Observables to continue using your stuff

has any0one got it yet? That Observables will accomodate quantum nature? Few know this. And its nuts... right on target for nature.

one day there will be quantum RxJS streams and everything will be streamed thru Observables seamles

[2021-11-29 12:03] nhhockeyplayer commented on #453
yeild was another crazy temporary attempt
maybe its the human brain being inched ahead by baby steps
I see no need when Observables do it all

[2021-11-29 12:09] nhhockeyplayer commented on #453
typeorm is another case in point
I cannot do normal object oriented modeling
and the founder theres gossip he had nervous breakdown
Im still wrestling with getting AWAY from typeorms internal core insistence of returning Promises from its core api calls

and its frustrating
another one bites the dust

no one will see until they break out into the light

at this point you can notice Im not a follow

[2021-11-29 12:26] nhhockeyplayer commented on #453
so with 120trillion cells in the human body
RxJS could model an observable for each one
an AI could write the code if fed the meta data
and a plasma display emitting photons would deliver you a blonde with blue eyes in person from that device
everything is photons

but something tells me the powers that be are already doing this by harvesting gnomes and biometrics not for benevolent reasons

[2021-12-27 10:17] ideacco commented on #454
Yes, I have the same problem

ps:
node: 17.0
npm: 8.1.4
nest: 8.1.6
mongoose: "^6.1.3"
nestjs-typegoose: "^7.1.38"

[2022-01-01 15:18] orimdominic commented on #454
I think that the mongoose version of  `^6.1.3` doesn't allow for that option.
I think you can avoid including it.
I tried it with `@typegoose/typegoose: "^9.4.0"` recently and my connection was successful

[2022-01-09 01:08] findingtheconcept commented on #454
RIP nestjs-typegoose...

[2022-01-16 10:14] alisherafat01 opened #460 "Can not install module"
`npm install --save nestjs-typegoose`
**results error:**
Could not resolve dependency:
 peer @nestjs/common@"^6.10.1 || ^7.0.0" from nestjs-typegoose@7.1.38

inside package.json i'm using` "@nestjs/common": "^8.0.0" `

[2022-01-22 15:33] SergioArrighi commented on #460
same here, looks like this module is not compatible with latest version of nest itself

[2022-01-29 23:03] evtifiev commented on #460
@SergioArrighi  @alisherafat01 Run npm install --save nestjs-typegoose --legacy-peer-deps. This solved my issue.

[2022-02-25 17:04] kamalkech commented on #460
@evtifiev but that s not good, i guess the team stop to maintain this package

[2022-03-15 07:29] ilaipi commented on #460
got the error after this.

[code]

to fix:

[code]

try `npm install --save --force nestjs-typegoose` works for me.

[2022-03-26 13:26] renovate[bot] opened #469 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/kpfromer/nestjs-typegoose).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## D

[2022-06-10 04:19] nick4fake opened #475 "Package maintenance"
Is this project still maintained? I see 70+ PRs, lots of unanswered questions, very outdated dependencies and so on.

[2022-06-21 00:32] Ricka7x commented on #38
is class-validator still not compatible?

[2022-06-23 15:19] rmvillasista opened #479 "Using the same models in InjectModel"
How can we do, for instance, we have the same model collection with different connections but we will use it on the same service?

[2022-07-10 06:44] grvrjt commented on #220
I am trying to implement the same with typegoose but doesn't work .
with mongoose it works.

[2022-07-25 10:38] findingtheconcept commented on #475
@nick4fake it seems it's not, but now I'm working on a replacement for this package. I have many things to implement, but my module will be much better than this one. For instance, I will add dependency injection support for typegoose hooks. I'll try to notify you when I'll finish.

[2022-08-01 20:59] GrapeoffJS commented on #475
https://github.com/GrapeoffJS/kindagoose

[2022-08-06 18:36] GrapeoffJS commented on #479
You can do this in other nestjs wrapper for typegoose. Look for "kindagoose" in my profile.

[2022-08-07 19:54] findingtheconcept commented on #479
I created a fresh nest wrapper for typegoose. Look for that in my profile.